<h1>AppComponent</h1>

<app-produit></app-produit>

<app-bonjour-v2 [personne]="bob"></app-bonjour-v2>

<app-bonjour
  prenom="olivier"
  nom="gozlan"
  photo="https://medias.maisonsdumonde.com/images/q_auto,f_auto/w_1000/mkp/M22010678_1/cabane-originale-pour-enfant-en-bois-alice.jpg"
></app-bonjour>
<app-bonjour
  prenom="jordan"
  nom="abid"
  photo="https://www.chaletdejardin.fr/media/cache/sylius_shop_product_hero_webp/c/5/c/b/c5cb47467eedaf5995b59f903dbb9952bb4aeac7_AV221_vera_img01.jpg"
></app-bonjour>
